.flag {
  box-shadow: 2px 2px 4px #a4a4a4;
  height: 30px;
  width: 45px;
  margin-right: 16px;
}

.mat-form-field {
  font-size: 1rem;
  width: 100%;
}

.mat-header-cell {
  color: #191970;
  font-weight: 500;
  font-size: 1rem;
}

.mat-header-row {
  background: #f4f4ff;
}

.mat-table {
  background: #f4f4f4;
}
